<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTFULL API Final Projek 1</title>
</head>

<body>
    <h2>Documentation RESTFULL API v1</h2>
    <ul>
        <li>
            <p>POST /api/v1/users/register : for register user &#10004;</p>
        </li>
        <li>
            <p>POST /api/v1/users/login : for login user</p>
        </li>
        <li>
            <p>POST /api/v1/users/reflections : for create data user</p>
        </li>
        <li>
            <p>GET /api/v1/users/reflections : for get data user</p>
        </li>
        <li>
            <p>PUT /api/v1/users/reflections/:id : for edit data user</p>
        </li>
        <li>
            <p>DELETE /api/v1/users/reflections/:id : for delete data user</p>
        </li>
    </ul>
</body>

</html>